body {
	background-color: #3B0B0B;
}
img {
   width:250px;
   height:150px;
   margin-left:25px;
}
.img1 {
	width:400px;
   	height:250px;
   	margin-top:0px;
   	margin-bottom: -395px;
   	margin-left:200px;
}
.img2 {
	width:400px;
   	height:250px;
   	margin-top:0px;
   	margin-bottom: -395px;
   	margin-left:30px;
}
.img3 {
	width:400px;
   	height:250px;
   	margin-top:121px;
   	margin-bottom: -375px;
   	margin-left:40px;
}

div {
	border-radius: 5px;
	border: 2px solid #000000;
	background-color: #2E2E2E;
	height: 50px;
	width: 120px;
	margin-left: 300px;
	text-align: center;
}
.right {
	position: absolute;
	left: 0px;

}
.right1 {
	position: absolute;
	left: 150px;
}
.right2 {
	position: absolute;
	left: 300px;
}
.right3{
	position: absolute;
	left: 450px;
}
.right4{
	position: absolute;
	right: -150px;
	margin-top:-50px;
}
.left1 {
	position: absolute;
	bottom: -400px;
	left: -1000px;

}
.left2 {
	position: absolute;
	bottom:-475px;
	left: -1000px;
}
.left3 {
	position: absolute;
	bottom: -550px;
	left: -1000px;
}
.left4{
	position: absolute;
	bottom:-625px;
	left: -1000px;
}
.left5{
	position: absolute;
	bottom:-700px;
	left: -1000px;
}
.left6{
	position: absolute;
	bottom:-775px;
	left: -1000px;
}
.body1 {
	margin-top:275px;
   	margin-left:-500px;
}
.body2 {
	margin-top:-25px;
   	margin-left:-500px;
}
.body3 {
	margin-top:-25px;
   	margin-left:-500px;
}
.body4 {
	margin-top:-25px;
   	margin-left:-500px;
}
.body5 {
	margin-top:-25px;
   	margin-left:-500px;
}
.body6 {
	margin-top:-25px;
   	margin-left:-500px;
}
.sponsors {
	border-radius: 5px;
	border: 2px #3B0B0B;
	background-color: white;
	height: 150px;
	width: 1000px;
	margin-left: -550px;
	margin-top: 100px; 
	text-align: center;
}
span{
	color: black;
}